body{
    background: #73000a;
    font-family: Helvetica;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    background: black;
    color: white;
    border-radius: 10px;
}
.assignment img{
    height:150px;
    margin:10px;
    border: 5px solid #73000a;
    border-radius: 5px;
    display:block;
    margin:auto;
}
.assignment img:hover {
    border: 5px solid #AC0000;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    text-align:center;
}

a {
    color: #AC0000;
    text-decoration: underline;
}
a:hover{
    color: #73000a;
}